*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html,body{
    font-family: "Poppins",Verdana;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

section{
    max-width: 980px;
    margin: auto;
    transform: translateY(-10px);
}

button{
    width: 100px;
    height: 30px;
    margin: 20px 0 30px 0px;
    border-radius: 10px;
    color: grey;
    font-size: 16px;
    background-color: rgb(242, 205, 176);
    border: 1px solid rgb(249, 131, 88);
    cursor: pointer;
}

button:hover{
    background-color: rgb(242, 205, 176);
    transform: translateY(-2px);
}

img{
    width: 85%;
    margin: 0 7%;
    border-radius: 50px;
    box-shadow: 5px 15px -4px gray;
    transition: all 0.6s ease 0s;
    object-fit:contain;
}

img:hover{
    transform: translateY(-7px);
}

.publication{
    font-size: 14px;
    margin: 0 0 0 11%;
    color:grey;
}

h1{
    margin: 40px 0 25px 0;
    font-size: 25px;
}

h4{
    margin: 15px 0 15px 0;
    font-size: 15px; 
}

p{
    margin-top: 30px;
    font-size: 15px;
    color: rgb(140, 140, 140);    
}

ul{
    color: rgb(140, 140, 140); 
}

div:last-child{
    padding-bottom: 100px;
}

h2{margin: 40px 0 25px 0;
    font-size: 25px;
}

.content-video{
    display: flex;
    justify-content: center;
}

@media(max-width:1000px){
    section{
        padding: 0 20px;
    }
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 25px;
    }
    p{
        font-size: 16px;
    }
    img{
        min-height: 300px;
        object-fit: cover;
    }
}

footer{
    font-size: 12px;
    color: rgb(171, 166, 166);
}